{% extends 'base.html' %}
{% block content %}



<h2>📄 Applications</h2>

<table class="table table-bordered">

<tr>
    <th>Student</th>
    <th>Company</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for app in applications %}
{% if app.student.resume %}
<a href="/students/view-resume/{{ app.student.id }}/" 
   class="btn btn-info btn-sm">
   📄 View Resume
</a>
{% else %}
<span class="text-muted">No Resume</span>
{% endif %}

<tr>
    <td>{{ app.student.name }}</td>
    <td>{{ app.company.name }}</td>
    <td>
        {% if app.status == "Selected" %}
            <span class="badge bg-success">Selected</span>
        {% elif app.status == "Rejected" %}
            <span class="badge bg-danger">Rejected</span>
        {% else %}
            <span class="badge bg-warning text-dark">Pending</span>
        {% endif %}
    </td>

    <td>
        {% if app.status == "Pending" %}

<a href="/companies/update-status/{{ app.id }}/Selected/"
   class="btn btn-success btn-sm">
   ✅ Select
</a>

<a href="/companies/update-status/{{ app.id }}/Rejected/"
   class="btn btn-danger btn-sm">
   ❌ Reject
</a>

{% elif app.status == "Selected" %}

<button class="btn btn-success btn-sm disabled">
    ✅ Selected
</button>

<a href="/companies/update-status/{{ app.id }}/Rejected/"
   class="btn btn-danger btn-sm">
   ❌ Reject
</a>

{% elif app.status == "Rejected" %}

<a href="/companies/update-status/{{ app.id }}/Selected/"
   class="btn btn-success btn-sm">
   ✅ Select
</a>

<button class="btn btn-danger btn-sm disabled">
    ❌ Rejected
</button>

{% endif %}
    </td>
</tr>

{% empty %}
<tr>
    <td colspan="4">No applications</td>
</tr>
{% endfor %}

</table>

{% endblock %}