<h4 class="mt-4">💼 Jobs</h4>

{% for job in jobs %}
<div class="card p-3 mb-2">

    <h5>{{ job.title }}</h5>
    <p>{{ job.description }}</p>
    <p><strong>CGPA:</strong> {{ job.min_cgpa }}</p>

    <!-- VIEW -->
    <a href="/companies/jobs/{{ job.id }}/" class="btn btn-info btn-sm">
        👁 View
    </a>

    <!--  APPLY -->
    {% if student and student.cgpa >= job.min_cgpa %}
        <a href="/students/apply-job/{{ job.id }}/" class="btn btn-success btn-sm">
            Apply
        </a>
    {% endif %}

</div>
{% empty %}
<p>No jobs available</p>
{% endfor %}